* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.afdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100%;
  gap: 30px;
}

.afdiv button {
  width: 500px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #f28500;
  color: white;
  box-shadow: 0px 0px 10px black;
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
}

.afdiv button:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 20px #3D1111;
}

.afdiv h1{
  color: #3D1111;
  font-weight: bold;
  margin-top: 100px;
}
