*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.booking-container{
  display: flex;
  width: 100%;
  height: 82vh;
  padding: 30px;
}
.bc-leftside h1, .bc-leftside h3{
  font-family: 'Montserrat', sans-serif; 
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.bc-leftside{
  height: 79vh;
}
.bc-leftside p{
  font-family: 'Montserrat', sans-serif; 
  font-size: 15px;
  width: 1000px;
  margin-bottom: 50px;
}
.bc-leftside h3{font-size: 20px;}

.bc-leftside input{
  padding: 10px 30px;
  margin: 0px 10px;
  border: 1px solid gray;
  border-radius: 10px;
}
.bcls-button{
  display: flex;

  margin: 150px 0px;
}
.bc-leftside button{
  background-color: #f28500;
  color: white;
  padding: 10px 150px;
  border: none;
  border-radius: 20px;
}

.bc-leftside-details{
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 232, 232);
  height: 40vh;
  width: 40%;
  border-radius: 20px;
  padding: 50px;
  margin: 0px 100px;
}
.bc-leftside-details-one{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 20vh;
}
.bc-leftside-details-one p{
  font-family: 'Montserrat', sans-serif; 
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}
.bc-leftside-details-one img{
  width: 200px;
  height: 200px;
}
.bc-leftside-details-one-right{height: 20vh;}

.bc-leftside-details-one-right p:not(.name) {
  font-family: 'Montserrat', sans-serif; 
  font-size: 15px;
  color: gray;
}
  .bc-leftside-details-one-left{
    display: flex;
  }
.price-details{
  display: flex;
  flex-direction: column;
}
.price-details h1{
  font-family: 'Montserrat', sans-serif; 
  font-size: 25px;
  font-weight: bold;
  margin: 20px 20px 20px 30px;
}
.price-details p{
  font-family: 'Montserrat', sans-serif; 
  font-size: 15px;
  color: gray;
  margin: 0px 0px 0px 30px;
}

