.main-div {
    position: absolute;
}

.vertical-line {
    width: 1px; /* Adjust width as needed */
    height: 700px; /* Adjust height as needed */
    background-color: black; /* Adjust color as needed */
    position: absolute;
    margin-left: 800px;
    margin-top: 30px;
  }
.arrowcontainer {
    display: flex;
    align-items: center;
    gap: 5px; /* Adjust the space between icon and text */
    margin-top: 30px;
    margin-left: 30px;
}

.arrowcontainer p {
    margin: 0; /* Remove default margin for the paragraph */
    font-family: Poppins, sans-serif;
    font-size: 16px;
    text-decoration: none; 
    color: black;
}

.parent-left-div {

    display: flex;
    flex-direction: column;
    margin-left: 700px;
    flex-wrap: wrap;
}

.parent-left-div h2 {
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

.radio-div {
    display: flex;
    border: #000 solid 1px;
    width: 600px;
    height: 70px;
    padding-left: 15px;
    border-radius: 8px;
    margin-top: 50px; /* Adjust margin top */
    margin-bottom: 20px;
}

.radio-div2 {
    border: #000 solid 1px;
    width: 600px;
    height: 120px;
    padding-left: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.radio-div3 {
    display: flex;
    margin-bottom: 20px;
    border: #000 solid 1px;
    width: 600px;
    height: 70px;
    padding-left: 15px;
    margin-bottom: 25px;
    border-radius: 8px;
}

.price-details {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 850px; /* Adjust the distance from the left */
    padding: 0;
    border: #000 solid 1px;
    height: fit-content;
    width: 500px;
    top: 50px; /* Adjust the distance from the top */
}

.price-container {
    position: relative;
    margin-bottom: auto;
    margin-right: 20px; /* Adjust the distance from the right */
}


.textfield {
    margin-top: 100px; /* Adjust margin top as needed */
    float: left;
  }
  
  .textfield > div {
    margin-top: 10px; /* Adjust margin top as needed */
    float: left;
  }