*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.details-body{
  width: 100%;
  height: 120vh;
  display: flex;

}
.details-container{
  width: 70%;
  height: 100vh;
  padding: 50px;
}
.details-container img{
  height: 200px;
  width: 200px;
}
.details-container h1{
  margin: 100px 0px 10px 0px;
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
}
.details-container p{
  font-family: 'Montserrat', sans-serif; 
  font-size: 15px;
  font-weight: bold;
  color: gray;
}
.dcbox-container{
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.dcbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: rgb(233, 232, 232);
}
.details-body-side{
  width: 30%;
  height: 100vh; 
  padding: 30px;
}
.dbs-form{
  text-align: center;
  box-shadow: 1px 1px 10px gray;
  border-radius: 10px;
  width: 100%;
  height: 50vh;
  padding: 30px;
}
.dbs-form p{
  font-family: 'Montserrat', sans-serif; 
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  color: gray;
}
.dbs-form h6{
  font-family: 'Montserrat', sans-serif; 
  color: gray;
}
.dbs-form button{
  margin-top: 50px;
  padding: 10px 50px;
  background-color: #f28500;
  color: white;
  border: none;
  border-radius: 20px;
}
.comment-section-container{
  display: flex;
  gap: 50px;
}
.comment-section-container h2{
  margin-top: 50px;
}
.comments-section {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.textarea {
  font-family: Montserrat, sans-serif;
  font-size: medium;
  width: 500px;
  height: 100px;
  resize: none;
}
.comments-section button {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px 50px;
  background-color: #f28500;
  color: white;
  border: none;
  border-radius: 20px;
  width: 300px;
}

.comments-container {
  display: flex;
  margin-top: 50px;
}

.comments {
  margin-right: 50px;
}
.comments p {
  font-family: Montserrat, sans-serif;
  text-align: justify;
}