*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.edit-profile-container{
  width: 50%;
  height: 82h;
  padding: 50px;
}

.edit-profile-container h2, .edit-profile-container h4{
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  margin: 20px 0px;
}

.edit-profile-container input{
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 1px gray;
}

.gender-container{
  margin-left: 25px;
}

.edit-profile-container button{
  padding: 10px 100px;
  background-color: #f28500;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 20px;
  cursor: pointer;
}

p.error-message{
  color: red !important;
  margin: 50px 0px 0px 20px !important;
}
.success-message{
  color: green;
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  margin-top: 20px;
}

.lgn-password-container{
  display: inline-block;
}

.first-name, .last-name, .phone-number{
  margin-left: 40px !important;
}

.note{
  color: gray;
}
