*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.get-property-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 82vh;
  overflow-y: auto;
}
.get-property{
  margin-bottom: 100px;
}
.get-property h1{
  text-align: center;
  color: #F28500;
  margin-top: -5%;
  margin-bottom: 3%;
  font-family: 'Montserrat', sans-serif; 
  font-size: 50px;
  font-weight: bold;
}

.table-container {
  max-height: 300px; 
  overflow-y: auto; 
}

.export{
  padding: 10px 50px;
  background-color: #F28500;
  color: white;
  border: none;
  border-radius: 10px;
  width: 500px;
  margin-top: 100px;
}
