* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #3D1111;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nh {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  margin: 20px;
  transition: color 0.3s ease;
}
ul{
  margin-top: 0;
  margin-bottom: 0;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
}

.container ul{
  list-style-type: none;
  display: flex;
  text-align: center;
}

.container li:hover {
  color: #f28500;
  text-decoration: underline;
}

.nh-side {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  margin: 20px;
}

.nh-side button {
  padding: 10px;
  width: 100px;
  background-color: #f28500;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}
.nh-side button:hover{
  background-color: #3D1111;
  border: solid 1px #f28500;
  color: #f28500;
}

.profile-container {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
}
