* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.section {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

.ssh-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  gap: 10px;
  font-family: 'Sancreek', serif;
}

.tdh-text {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.forthsection {
  background-color: #3D1111;
}

.fsh-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: white;
  align-items: center;
  padding: 50px 0px 0px 0px;
}
.fsh-text h1, .fsh-text h4{
  margin-top: 50px;
  font-family: 'Sancreek', serif; 
}

.fifthsection{
  height: 70vh;
}

.ffsh-text{
  text-align: center;
  margin-top: 50px;
  padding: 0px 50px;
  font-size: 500px;
}
.ffsh-text h1{
  font-family: 'Sancreek', serif;
}
.ffsh-text h3{
  font-size: 35px;
}
.feature-container{
  display: flex;
  width: 100%;
  padding-top: 100px;
}