* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.section {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}
.firstsection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.firstsection h1 {
  margin-top: -22%;
  position: absolute;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 70px;
}
.firstsection h3{
  position: absolute;
  color: white;
  margin-top: -15%;
  font-size: 30px;
}
.search-bar{
  display: flex;
  position: absolute;
  gap: 20px;
  justify-content: center;
  width: 40%;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 30px #f28500;
}
.search-bar input, .search-bar button, .search-bar select{
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid wheat
}
.search-bar button{
  background-color: #f28500;
  color: white;
}

.ssh-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 0px 0px;
  gap: 10px;
  font-family: 'Sancreek', serif;
}

.tdh-text {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.forthsection {
  background-color: #3D1111;
}

.fsh-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: white;
  align-items: center;
  padding: 50px 0px 0px 0px;
}
.fsh-text h1, .fsh-text h4{
  margin-top: 50px;
  font-family: 'Sancreek', serif; 
}

.fifthsection{
  height: 90vh;
}

.feature-container{
  display: flex;
  width: 100%;
  padding-top: 100px;
}

.property-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 91vh;
  padding: 50px;
}
#secondscroll{
  margin-bottom: 150px;
}

.property-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.property-item {
  width: 350px;
  margin: 20px;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 5px 5px 5px black;
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
}


